<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="Prod"
         connectionString="Data Source=145.44.235.67;Initial Catalog=Spotify;Integrated Security=False;User ID=student;Password=PieterBrouwer01!;MultipleActiveResultSets=True;" />
    <add name="Dev"
         connectionString="Server=(localdb)\mssqllocaldb;Database=Spotify;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>